@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-bg: #f2f2f2;
  --color-prim: #BF372A;
  --color-prim-light: #e57373;
  --color-second: #F2EFDC;
  --color-third: #D9A13B;
  --color-white: #fff;
  --color-black: #000;
  --color-submit: #F4BB2A;
  --color-background: #fdf6ef;

  --font-barlow-condensed: var(--font-barlow-condensed);
  --font-special-elite: var(--font-special-elite);
  --font-chakra-petch: var(--font-chakra-petch);
}


@layer base {
  :root {
    color-scheme: light;
  }
}