node_modules
**/node_modules
.pnpm-store
.pnpm
dist
build
.git
.vscode
.env
*.log
**/.next
**/.expo
**/.expo-shared
**/.turbo
**/.parcel-cache
**/coverage
**/uploads
apps/mobile/.expo
apps/mobile/.expo-shared
***.md
