@import "tailwindcss";

.Barlow_Condensed {
  font-family: var(--font-family-barlow-condensed);
}

.Special_Elite {
  font-family: var(--font-family-special-elite);
}

.Chakra_Petch {
  font-family: var(--font-family-chakra-petch);
}

body {
  background-color: var(--color-bg);
  overflow-x: hidden !important;
}