@import "tailwindcss";

@theme {
  --color-bg: #f2f2f2;
  --color-prim: #BF372A;
  --color-prim-light: #e57373;
  --color-second: #F2EFDC;
  --color-third: #D9A13B;
  --color-white: #fff;
  --color-black: #000;
  --color-submit: #F4BB2A;

  --font-barlow-condensed: var(--font-barlow-condensed);
  --font-special-elite: var(--font-special-elite);
  --font-chakra-petch: var(--font-chakra-petch);
}

.Barlow_Condensed {
  font-family: var(--font-family-barlow-condensed);
}

.Special_Elite {
  font-family: var(--font-family-special-elite);
}

.Chakra_Petch {
  font-family: var(--font-family-chakra-petch);
}

body {
  background-color: var(--color-bg);
  overflow-x: hidden !important;
}