DATABASE_URL="postgresql://retrovault:retrovault@postgres:5432/retrovault_db"

DATABASE_URL_TEST="postgresql://retrovault:retrovault@postgres-test:5433/retrovault_db_test"

JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret
JWT_TOKEN_AUDIENCE=your_jwt_audience
JWT_TOKEN_ISSUER=your_jwt_issuer
JWT_TTL=3600

# Web URL
WEB_URL="http://web:3000"

# Mobile URL
MOBILE_URL="http://mobile:8081"

# Admin URL
ADMIN_URL="http://admin:5000"