# Production Database
DATABASE_URL="postgresql://retrovault:retrovault@localhost:5432/retrovault_db?schema=public"

# Test Database
DATABASE_URL_TEST="postgresql://retrovault:retrovault@localhost:5433/retrovault_db_test?schema=public"

# JWT Secrets
JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret