# Production Database
DATABASE_URL="postgresql://retrovault:retrovault@localhost:5432/retrovault_db?schema=public"

# Development Database
DATABASE_URL_DEV="postgresql://retrovault:retrovault@localhost:5433/retrovault_db_test?schema=public"

JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret